        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family: Arial, sans-serif;
            background-color: #3f444f;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .navbar-container {
            background-color: black;
            border-radius: 0px 50px;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 40px;
            width: 100%;
            position: fixed;
            top: 0;
            z-index: 1000;
        }

        .navbar-container h1 {
            font-size: 20px;
        }

        .subnavbar ul {
            list-style: none;
            display: flex;
            gap: 15px;
        }

        .subnavbar ul li {
            cursor: pointer;
        }

        .input-container {
            padding-top: 150px;
            width: 90%;
            max-width: 600px;
            text-align: center;
        }

        .input-class {
            width: 90%;
            max-width: 400px;
            height: 50px;
            border-radius: 20px;
            background-color: #000a1a;
            color: white;
            text-align: center;
            border: none;
        }

        .button-class {
            margin: 15px;
            background-color: lime;
            border-radius: 50px;
            border-style: none;
            font-size: 20px;
            font-weight: bold;
            color: white;
            width: 90%;
            max-width: 400px;
            height: 50px;
            cursor: pointer;
        }

        #result-container {
            display: none;
            background-color: #000a1a;
            border-radius: 20px;
            color: white;
            width: 50%;
            /*max-width: 500px;*/
            padding: 20px;
            margin-top: 20px;
            box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
        }

        #error-message {
            display: none;
            color: red;
        }
        
        .output-container {
            display: flex;
            width: 100%;
            /*max-width: 500px;*/
            padding: 10px;
        }
        
        .output-container span {
            font-size: 20px;
            font-weight: bold;
        }
        
        .thumb_channel {
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }
        
        .thumb_video {
            width: 100%;
        }
        
        .detail p {
            font-size: 19px;
            padding: 0px 13px;
        }
        
        .subdetail {
            display: flex;
            gap: 7px;
            padding: 0px 13px;
        }
        
        .subdetail h3 {
            color: #aaaaaa;
            font-size: 14px;
        }
        
        .video-item {
            padding-bottom: 35px;
        }
        
        .video-item a {
            text-decoration: none;
            color: white;
        }

        /* untuk HP */
        @media (max-width: 768px) {
            .navbar-container {
                flex-direction: flex;
                height: auto;
                padding: 20px;
                text-align: center;
            }

            .subnavbar ul {
                flex-direction: flex;
                gap: 10px;
                padding-top: 10px;
            }

            .input-container {
                padding-top: 130px;
            }

            .input-class, .button-class {
                width: 100%;
                max-width: 100%;
            }

            #result-container {
                width: 100%;
            }
        }
